body{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(68, 62, 252);
}
.container{
    border: none;
    border-radius: 15px;
    background-color: #bdee8c;
    height: auto;
    width: 25vw;
    box-shadow: 3px 4px 5px;
}
.header{
    text-align: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(2, 17, 21);
    font-weight: 900;
    padding: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}
.addtask{
    display: flex;
    justify-content: space-evenly;
}
input{
    padding: 10px;
    border-radius: 7px;
}
button:hover{
    background-color: green;
    border: 1px solid black;
    box-shadow: 2px 2px 2px;
}
button{
    color: black;
    background-color: #8ae396;
    border-radius: 7px;
}
ul{
    list-style-type: none;
    padding: 15px;
}
li{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

